@import "~hc-html-wrapper/src/sass/custom";

#staySafeJumbo {
  background-size: cover !important;
  background-position: center !important;
  background: linear-gradient(135deg, rgba($primary, 0.8), rgba($secondary, 0.8)), url('https://hillsboroughcounty.org/library/hillsborough/media-center/images/staysafebanner.png');

  .list-group-item {
    background: none;
    border-color: rgba($info, 0.3);
    &:first-child {
      border-top: none;
    }
  }
}
